{% extends 'base_header.html' %}
{% block outer_body %}
<nav class="navbar navbar-expand navbar-dark bd-navbar fixed-top" id="nav-header">
    <div class="container-fluid">
        <div class="navbar-brand ps-3">
            <i class="bi bi-check2-square"></i>
            To-do
        </div>
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav me-auto">
            <li>
                <a class="nav-item nav-link" href="{% url 'core:todo_list' %}">
                    <i class="bi bi-card-checklist"></i>
                    List
                </a>
            </li>
            <li>
                <a class="nav-item nav-link" href="#">
                    <i class="bi bi-person-square"></i>
                    Profile
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core:logout' %}">
                    Log out
                    <i class="bi bi-box-arrow-right"></i>
                </a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>

<div class="my-5 container-fluid" id="card-space">
    {% block body %}
    {% endblock %}
</div>

<nav class="navbar navbar-expand navbar-dark fixed-bottom" id="nav-footer">
    <div class="container-fluid">
        <ul class="nav navbar-nav ms-auto navbar-right">
            <li class="nav-item">
                <a class="nav-item nav-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                    <i class="bi bi-youtube"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="#">
                    <i class="bi bi-instagram"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="#">
                    <i class="bi bi-facebook"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>

{% endblock %}